.adaptive_modal {

}

@media screen and (max-width: 1000px) {
    .adaptive_modal {
        margin-top: 0;
        max-width: 100%;
        max-height: 100%;
        overflow: auto !important;
    }

    * > .rs-modal-wrapper {
        overflow: unset !important;
    }
}

@media screen and (max-width: 450px) {
    .adaptive_modal {
        margin-top: 0;
        max-width: 100%;
        max-height: 100%;
        overflow: auto !important;
    }

    * > .rs-modal-wrapper {
        overflow: unset !important;
    }
}
